# Node.js dependencies
node_modules/

# Logs
logs/
*.log

# Environment variables
.env

# Build files
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE/Editor files
.vscode/
.idea/
*.swp

# npm debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Render/Heroku files
/opt/
